<div id="main-navigation" class="nav clearfix">
  
  <%= render_list [ link_to("Home", "/"),
                    link_to("M", "/handicraft/main"),
                    link_to("M / S", "/handicraft/main_sidebar"),
                    link_to("S / M", "/handicraft/sidebar_main")
                  ] -%>
                  
</div>
