/* `Text
----------------------------------------------------------------------------------------------------*/

.small {
    font-size: 85%;
}

.gray {
    color: #999;
}

/* `Link
----------------------------------------------------------------------------------------------------*/

a {
    -moz-outline: none;
}

/* `Header
----------------------------------------------------------------------------------------------------*/

#header h1 {
    padding: 20px 0;
}

/* `Footer
----------------------------------------------------------------------------------------------------*/

#footer address {
    margin: 0;
    padding: 0.5em 20px;
}

/* `Navigation
----------------------------------------------------------------------------------------------------*/

#main-navigation ul li {
    margin-right: 0;
}

#user-navigation ul li {
    margin-left: 5px;
}

#main-navigation ul li a,
#user-navigation ul li a {
    display: block;
    text-decoration: none;
    padding: 8px 15px;
}

#sidebar .nav ul {
    margin: 0;
}

#sidebar .nav ul li a {
    display: block;
    padding: 0.5em 20px;
}

/* `Section
----------------------------------------------------------------------------------------------------*/

.section {
    margin-bottom: 10px;
}

.section .bd {
    padding: 10px 20px;
}

.section .hd h2 {
    margin: 0 0 0 20px;
    padding: 1em 0 0.5em;
}

.section .hd h2.title,
.section .hd h3.title {
    margin: 0;
}

.section .hd h2.title {
    padding: 10px 20px;
    height: 1%;
}

.section .hd h3.title {
    padding: 7px 20px 6px;
}

#sidebar .notice {
    padding: 20px;
}

#page-description {
    padding: 10px 20px;
}

#page-description h2,
#page-description p {
    display: inline;
    margin: 0;
}