if [[ -d "${rvm_path:-$HOME/.rvm}/environments" \
  && -s "${rvm_path:-$HOME/.rvm}/environments/<%= @rvm_env %>" ]] ; then
  \. "${rvm_path:-$HOME/.rvm}/environments/<%= @rvm_env %>"
else
  rvm --create use  "<%= @rvm_env %>"
fi

export rvm_pretty_print_flag=1
