<div class="hd">
    <h1>
        <%%= t(".title") %>
    </h1>
</div>

<div class="section">
    <div class="bd">
        <%%= render 'form' %>

        <%%= link_to t('links.show'), @<%= singular_name %> %> |
        <%%= link_to t('links.index'), <%= plural_name %>_path %>
    </div>
</div>

